header {
    height: 80px;
    text-align: center;
}

header h1 {
    font-size: 35px;
    padding-top: 20px;
}

main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: 80vh;
}

.detail {
    grid-column-start: 2;
    grid-column-end: 4;
}

header {
    height: 10vh;
    text-align: center;
}

/* MAIN & TITLE SECTION LAYOUTS */
.title {
    text-align: center;
    position: relative;
}

.title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title.portfolio-resume {
    background-color: #F3D250;
}

.title.life-skills {
    background-color: #90CCF4;
}

.title.talk-stalk {
    background-color: #F78888;
}

/* DETAILS VIEWS  */
.detail {
    overflow: scroll;
}


/* PORTFOLIO-RESUME */
.portfolio-resume .detail-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.portfolio-resume .detail-container div {
    text-align: center;
    padding: 30px;
}

#projects-header {
    background-color: black;
    color: #ECECEC;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 65%;
}

.projects.detail-container {
    margin-top: 60px;
}

#education-header {
    background-color: black;
    color: #ECECEC;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* LIFE-SKILLS */
.detail.life-skills h2{
    background-color: black;
    color: #ECECEC;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.about img {
    border-radius: 50%;
}

.life-skills .detail-container {
    text-align: center;
    margin: 7%;
}

.a { grid-area: a;}
.b { grid-area: b;}
.c { grid-area: c;}
.d { grid-area: d;}
.e { grid-area: e;}
.f { grid-area: f;}
.g { grid-area: g;}
.h { grid-area: h;}
.i { grid-area: i;}
.j { grid-area: j;}
.k { grid-area: k;}
.l { grid-area: l;}
.m { grid-area: m;}
.n { grid-area: n;}
.o { grid-area: o;}
.p { grid-area: p;}
.q { grid-area: q;}

.picto-story.detail-container {
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-areas: 
        "a b c d e"
        "f f f f f"
        "g h i j k"
        "l l l l l"
        "m n o p q"; 
}

.f {
    grid-column-start: 5;
    grid-column-end: 6;
    margin: auto;
}
.l {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.b, .d, .h, .j, .n, .p {
    margin: auto;
}



/* TALK-STALK */
.talk-stalk.detail-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px;
}

.talk-stalk.detail-container h2 {
    text-align: center;
    background: black;
    color: #ECECEC;
    padding: 20px;
}

.talk, .stalk {
    margin: auto;
    width: 70%;
    text-align: center;
}

.talk-stalk.detail-container .talk div, .stalk div {
    padding: 10px;
}

.talk p {
    padding: 10px;
}

.stalk {
    display: grid;
    grid-template-columns: auto auto;
}

/* FOOTER */
footer {
    height: 9vh;
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
}