/* STALK LINKS */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover, .talk i:hover {
    color:#F3D250;
}

.title:hover {
    opacity: 0.85;
}