body {
    background: #ECECEC;
    font-family: sans-serif, Times, sans-serif;
    margin: auto;
    border: 20px dotted;
    padding: 20px;
    width: 70%;
    text-align: center;
    max-width: 700px;
    
  }
  p{
    background: #F3D250;
    padding: 10px 30px 30px 30px;
  }
  hgroup{
    background: #F3D250;
    padding: 20px; 
  }
  .testimonials{
    background: #F78888;
    padding: 30px;
  }
  header{
    font-size: 50px;
    border: 10px dotted white;
    padding: 30px;
    background: #90ccF4;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font: 20px;
    font-style: italic;
  }
  ol{
    display: inline-block;
  }
  li:not(:last-child){
    border-bottom: 7px dotted;    
  }
  li{
    padding: 20px;
  }
img {
    width: 300px;
    margin: 30px;
    border-radius: 50%;
}
